@import "tailwindcss";

@theme {
  --color-brand: #D9FF00;
}


@layer utilities {
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
  }
}